.pricing {
  background-color: #f8f8f8;
  padding: 50px 20px;
  text-align: center;
}

.pricing-title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 40px;
}

.pricing-plans {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.pricing-plan {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px; /* Adjust as needed */
}

.pricing-plan h3 {
  color: #333;
  margin-bottom: 15px;
}

.pricing-plan p {
  color: #666;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.pricing-button {
  background-color: #0288d1;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pricing-button:hover {
  background-color: #026fa1;
}

/* Responsive Design */
@media (max-width: 768px) {
  .pricing-plans {
    flex-direction: column;
    align-items: center;
  }

  .pricing-plan {
    width: 100%; /* Full width on smaller screens */
    margin-bottom: 20px;
  }
}
